@model IEnumerable<Calorie.Models.PersonEatStory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish.DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.PersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DishWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StoryID }) |
                @Html.ActionLink("Details", "Details", new { id=item.StoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StoryID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
