<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>C A L O R I A</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav>
        <ul class="menu">
            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
            <li>@Html.ActionLink("Блюда", "Index", "Dishes")</li>
            <li>@Html.ActionLink("Продукти", "Index", "Products")</li>
            <li>@Html.ActionLink("Історія споживання", "Index", "PersonEatStories")</li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>